body{
    background-color: rgb(84, 83, 136);
}
.col{
    background-color: rgb(59, 204, 248);
}
.container{
    margin-top:20px;
    border-radius: 15px;
}
.nav-link{
    color: rgb(126, 209, 241);
}